[submodule "third_party/trigo"]
	path = third_party/trigo
	url = git@github.com:k-l-lambda/trigo.git
	branch = develop
[submodule "third_party/transformers"]
	path = third_party/transformers
	url = https://github.com/huggingface/transformers.git
